asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
graphviz==0.20.3
huepy==1.2.1
idna==3.10
Jinja2==3.1.6
livereload==2.7.1
markdown2==2.5.3
MarkupSafe==3.0.2
optional-django==0.3.0
Pygments==2.19.1
python-dotenv==1.1.0
react==4.3.0
requests==2.32.3
sqlparse==0.5.3
tornado==6.4.2
tzdata==2025.2
urllib3==2.3.0
vite==1.5.2
